mixin menu( act1, act2, act3, act4, act5 )
   .header__holder
      .wrapper.header__content
         a( href='./').header__logo
         .block_menu
            menu.header_menu__holder
               a( href='./about.html' class='#{act1}').menu__item О конкурсе
               a( href='./conditions.html' class='#{act2}').menu__item Условия участия
               a( href='./docs.html' class='#{act3}').menu__item Документы
               a( href='./qa.html' class='#{act4}').menu__item Вопросы и ответы
               a( href='./news.html' class='#{act5}').menu__item Новости
         .menu_icon__holder
            .menu_icon
